.contact-container {
  margin-left: 55px !important;
  margin-right: 35px !important;
  border: #565758
}

.message-form .MuiInputBase-root{
  color: #565758 !important
}

h1 {
  margin-left: 55px !important;
  margin-right: 35px !important;
  color: #565758
}

.sbmt-btn {
  margin-left: 55px !important;
  margin-right: 35px !important;
  color: #565758 !important;
}

.msg-form {
  margin-bottom: 147px;
}

@media only screen and (max-width: 600px) {
  .contact-container  {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  h1 {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .msg-form {
    margin-bottom: 0px !important
  }
  .sbmt-btn {
    margin-bottom: 20px !important
  }
}

