.message-form .MuiInputBase-root{
  color: #565758 !important
}

.title {
  color: #565758
}

.sbmt-btn {
  margin-bottom: 20px !important;
  color: #565758 !important;
}

.contact-container {
  text-align: -webkit-center;
  font-size: 1.2em !important
}

@media only screen and (max-width: 600px) {

}

.get-in-touch {
  font-size: 1.2em;
  color: #565758 !important;
}