.tab-menu  {
  color: rgb(0, 0, 0) !important;
}

.content-menu {
  display: inline-flex !important;
  text-align: center;
  border-bottom: 1px solid #6e6e6e;
  margin-left: 55px !important;
  margin-right: 35px !important;
}

h3 {
  color: #505050 !important
}

@media only screen and (max-width: 600px) {
  .content-menu {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .content-menu .MuiGrid-item {
    padding-right: 5px !important;
  }
}

