.skills {
  text-align: center !important
}

#text {
  font-size: 1.3em;
  margin-left: 25px;
  margin-right: 25px;
}

.grid-skills {
  color: #565758 !important
}

i {
  color: #565758 !important;;
}

a {
  color: #565758 !important;
}

.text-info {
  font-size: 1rem;
  margin-left: 55px !important;
  margin-right: 35px !important;
}


@media only screen and (max-width: 600px) {
  .text-info {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  #text {
    margin-left: 0px;
    margin-right: 0px;
  }
}