html, body, #root {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

.main-container {
  padding: 2em;
}

.container {
  margin-top: 30px !important;
  border: 1px solid rgb(212, 212, 212);
  height: 90vh
}

.max-height {
  height: 100%;
  padding: 40px !important;
}

a:link {
  text-decoration: none;
}

i {
  padding: 30px;
  color: #565758 !important
}