html, body, #root {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

.main-container {
  padding: 2em;
}

.container {
  margin-top: 30px !important;
  border: 1px solid rgb(212, 212, 212);
  height: 90vh
}

.grid-info {
  background-color: #5cbdca96 !important;
  text-align: center;
  height: 100%;
}

.menu {
  border-bottom: 1.5px solid rgb(182, 182, 182) !important;
  background-color: #fafafa !important;
  height: 40px !important;
}

.max-height {
  height: 100%;
  padding: 40px !important;
}

.Muitab-indicator {
  background-color: #fafafa !important
}

.cv-link {
  display: block;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none
}

i {
  padding: 30px;
  color: #229dad !important
}

.img-png {
  position: absolute;
  margin-left: 18%;
  max-width: 60%;
  left: 0;
  bottom: 0;
  width: 100%;
}

.profile-wrapper {
  display: flex;  
  flex-direction: column;
  height: 100%;
}

.text-container {
  flex-grow: 2;
  padding: 20px;
}

.img-container {
  flex-grow: 1;
  position: relative;
  align-items: center;
}
